<div class="container">Second Component
    <label for="cars">Choose a Shape:</label>

    <select name="shapes " id="shapes">
        <option value="square">Square</option>
        <option value="circle">Circle</option>
        <option value="rectangle">Rectangle</option>
    </select>
    <label for="cars">Choose Color:</label>
    <select name="colors " id="colors">
        <option value="red">red</option>
        <option value="green">green</option>
        <option value="yellow">yellow</option>
    </select>

    <div class="center">

        <!-- <div [ngclass]="{'square':}"></div> -->
        <!-- <div class="square yellow"></div>
        <div class="square green"></div>
        <div class="circle red"></div>
        <div class="circle yellow"></div>
        <div class="circle green"></div>
        <div class="rectangle red"></div>
        <div class="rectangle yellow"></div>
        <div class="rectangle green"></div> -->
    </div>
</div>